img {
	max-width: 100%;
	height: auto;
}
body {
	max-width: 70em;
	text-align: justify;
}
h1 {
	text-align: center;
	font-variant: small-caps;
	border-bottom: 1px dashed black;
}
h2 {
	font-size: 1em;
	margin: 0;
	padding: 0;
	color: gray;
}
h3 {
	font-size: 1em;
	margin: 0;
	padding: 0;
	color: gray;
}
.day {
	clear: both;
}
.time {
	clear: both;
}
.item {
	margin: 20px 30px;
	border: 1px solid gray;
	clear: both;
}
.itemheader {
	padding: 6px;
	margin: 0;
	background-color: #eee;
}
.itemtitle {
	font-weight: bold;
}
.itemfrom {
	font-style: italic;
}
.itemdescription {
	border-top: 1px solid gray;
	margin: 0;
	padding: 6px;
}
#feedstatsheader {
}
#feedstats {
}
#feeds {
	margin: 10px 0;
	border: 1px solid gray;
	border-spacing: 0;
}
#feedsheader th {
	background-color: #eee;
	border-bottom: 1px solid gray;
	padding: 5px;
	margin: 0;
}
.feedsrow td {
	padding: 5px 10px;
	margin: 0;
}
#footer {
	text-align: center;
	border-top: 1px black dashed;
	color: gray;
}
a.xmlbutton {
	border: 1px solid;
	border-color: #FC9 #630 #330 #F96;
	padding: 0 3px;
	font: bold 10px sans-serif;
	color: #FFF;
	background: #F60;
	text-decoration: none;
	margin: 0;
}
