img {
	max-width: 100%;
	height: auto;
}
body {
	max-width: 70em;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
}
h1.title {
	text-align: center;
	font-variant: small-caps;
	border-bottom: 1px dashed black;
}
div.day h2.day {
	font-size: 1em;
	margin: 0;
	padding: 0;
	color: gray;
}
div.time h3.time {
	font-size: 1em;
	margin: 0;
	padding: 0;
	color: gray;
}
div.day {
	clear: both;
}
div.time {
	clear: both;
}
div.item {
	margin-top: 1em;
	margin-bottom: 1em;
	border: 1px solid gray;
	clear: both;
}
p.itemheader {
	padding: 6px;
	margin: 0;
	background-color: #eee;
}
span.itemtitle {
	font-weight: bold;
}
span.itemfrom {
	font-style: italic;
}
div.itemdescription {
	border-top: 1px solid gray;
	margin: 0;
	padding: 6px;
}
#feedstats {
	border-top: 1px dotted black;
	margin-top: 3em;
	margin-bottom: 1em;
	font-size: small;
}
#feeds {
	margin-left: auto;
	margin-right: auto;
}
#feedsheader th {
	text-align: center;
}
tr.feedsrow td {
	padding-left: 0.3em;
	padding-right: 0.3em;
}
#footer {
	font-size: small;
	text-align: center;
	border-top: 1px black dashed;
	color: gray;
	padding-top: 0.5em;
}
a.xmlbutton {
	border: 1px solid;
	border-color: #FC9 #630 #330 #F96;
	padding: 0 3px;
	font: bold 10px sans-serif;
	color: #FFF;
	background: #F60;
	text-decoration: none;
	margin: 0;
}
